'.workspace .editor':
  'ctrl-alt-.': 'native!'
  'ctrl-alt-q': 'unset!'
  'ctrl-alt-f': 'unset!'
  'ctrl-alt-b': 'unset!'

'.platform-win32':
  'ctrl-alt-.': 'native!'
  'ctrl-alt-q': 'unset!'
  'ctrl-alt-f': 'unset!'
  'ctrl-alt-b': 'unset!'
