'.source.js':
  'Render snippet':
    'prefix': 'render'
    'body': 'render() {\n\treturn (\n\t\t$1\n\t)\n}'

  'ES6 propTypes':
    'prefix': 'pt'
    'body': '\nstatic propTypes = {\n\t$1\n}\n'

  'React propTypes object':
    'prefix': 'pto'
    'body': 'React.PropTypes.object$1'

  'React propTypes string':
    'prefix': 'pts'
    'body': 'React.PropTypes.string$1'

  'React propTypes number':
    'prefix': 'ptn'
    'body': 'React.PropTypes.number$1'

  'React propTypes instance':
    'prefix': 'pti'
    'body': 'React.PropTypes.instanceOf($1)'

  'React propTypes instance required':
    'prefix': 'ptir'
    'body': 'React.PropTypes.instanceOf($1).isRequired'
    
  'ES6 default import':
    'prefix': 'im'
    'body': "import $1 from '$2'"
    
  'ES6 import local':
    'prefix': 'il'
    'body': "import $1 from './$2'"

  'ES6 import':
    'prefix': 'ii'
    'body': "import {$1} from '$2'"

  'React component':
    'prefix': 'cmp'
    "import Component from 'react-pure-render/component'\nimport React, {PropTypes} from 'react'\nimport immutable from 'immutable'\n\nexport default class $1 extends Component {\n\t$2\n}"

  'Destructuruing propTypes':
    'prefix': 'dp'
    'body': 'const {$1} = this.props\n'

  'Destructuruing propTypes with keeping otherProps':
    'prefix': 'dpo'
    'body': 'const {$1, ...otherProps} = this.props\n'
    
  'class name string':
    'prefix': 'cn'
    'body': "className='$1'"

  'class name expression':
    'prefix': 'cne'
    'body': "className='{$1}'"
